.card {
  height: 20vh;
  background-color: var(--primary-background-color);
  border-radius: 1em;
  border: none;
  padding: 5px;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  color: var(--primary-text-color);
  box-shadow: 0px 2px 10px 5px var(--primary-text-color);

  &:hover {
    box-shadow: 0px 2px 10px 5px var(--shadow-color);
  }

  &.open {
    box-shadow: 0px 0px 5px 1px var(--shadow-color);
  }

  .trapdoor {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-font-smoothing: antialiased;
    height: 100%;
    -webkit-transition: background 400ms ease-in-out;
    -moz-transition: background 400ms ease-in-out;
    -ms-transition: background 400ms ease-in-out;
    -o-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out;
    border-radius: 1em;
    border: none;

    &.open {
      .door {
        border: none;
      }

      .top {
        top: -50%;
        box-shadow: 0px -2px 5px 1px hsl(312, 11%, 48%);
      }

      .bottom {
        top: 100%;
        box-shadow: 0px 2px 5px 1px hsl(312, 11%, 48%);
      }
    }

    .door {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .door-content {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      line-height: 22px;

      a {
        position: absolute;
        right: 8px;
        bottom: 10px;
        color: hsl(313, 24%, 50%);

        &:visited {
          color: var(--visited-text-color);
        }

        &:hover {
          color: var(--visited-text-color);
        }
      }
    }
  }

  .top {
    top: 0%;
    left: 0px;
    border-radius: 1em;

    &:hover {
      cursor: pointer;
    }

    &:before {
      top: 5px;
    }

    .toggle-icon {
      svg {
        position: absolute;
        top: 5px;
        right: 5px;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -ms-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        fill: hsl(313, 24%, 50%);

        &.open {
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
        }
      }
    }
  }

  .bottom {
    top: 50%;
    left: 0px;
    border-radius: 1em;

    &:hover {
      cursor: pointer;
    }

    &:before {
      top: -20px;
    }
  }

  .door {
    -webkit-transition: top 400ms, box-shadow 200ms, -webkit-transform 300ms;
    -moz-transition: top 400ms, box-shadow 200ms, -moz-transform 300ms;
    -ms-transition: top 400ms, box-shadow 200ms, -ms-transform 300ms;
    -o-transition: top 400ms, box-shadow 200ms, -o-transform 300ms;
    transition: top 400ms, box-shadow 200ms, transform 300ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    background-color: var(--primary-background-color);
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    height: 50%;

    &:before {
      position: absolute;
      margin-left: -20px;
      font-size: 35px;
      display: block;
      width: 0px;
      height: 20px;
      left: 52%;
    }
  }
}
