<app-navigation></app-navigation>
<div class="app-page-container about-page">
  <h1 class="heading">about</h1>
  <div class="heading-buttons">
    <button
      class="version-button"
      [ngClass]="{ selected: short }"
      [disabled]="short"
      (click)="short = !short"
    >
      theatrical cut
    </button>
    <button
      class="version-button"
      [ngClass]="{ selected: !short }"
      [disabled]="!short"
      (click)="short = !short"
    >
      extended edition
    </button>
  </div>
  <div [@fader]="short ? 'open' : 'closed'">
    <div class="short-version" *ngIf="short">
      <section class="section-container">
        <h2
          class="section-header"
          (click)="toggleShowHide(0)"
          [ngClass]="sectionIsOpen[0] === 'open' ? 'open' : 'closed'"
        >
          languages & frameworks
        </h2>
        <ul
          role="list"
          class="languages-and-frameworks"
          [@showHide]="sectionIsOpen[0]"
        >
          <li>JavaScript / TypeScript / Python</li>
          <li>Angular / RxJS / NgRx / Material</li>
          <li>CSS3 / HTML5 / Sass</li>
        </ul>
      </section>

      <section class="section-container">
        <h2
          class="section-header"
          (click)="toggleShowHide(1)"
          [ngClass]="sectionIsOpen[1] === 'open' ? 'open' : 'closed'"
        >
          coding experience
        </h2>
        <div [@showHide]="sectionIsOpen[1]">
          <div class="experience-subheader app-bold-text">
            Dec 2019 - Present <br />
            Application Development Engineer <br />
            NOV - Houston, TX
          </div>
          <ul role="list">
            <li>
              Refactor one of the company’s oldest applications into a modern,
              responsive Angular application
            </li>
            <li>
              Collaborate with non-technical colleagues and UI/UX to streamline
              development in a fully remote setting
            </li>
            <li>Create and instruct training workshops for peers</li>
            <li>Perform code review in an agile environment</li>
          </ul>
        </div>
      </section>

      <section class="section-container">
        <h2
          class="section-header"
          (click)="toggleShowHide(2)"
          [ngClass]="sectionIsOpen[2] === 'open' ? 'open' : 'closed'"
        >
          other experience
        </h2>
        <div [@showHide]="sectionIsOpen[2]">
          <div class="experience-subheader app-bold-text">
            SEP 2014 - FEB 2019 <br />
            Resource Analyst II <br />
            Alfa Insurance - Montgomery, AL
          </div>
          <ul role="list">
            <li>
              Assisted company representatives with software related issues
              across a variety of web and mobile applications
            </li>
            <li>
              Provided technical assistance for customer-facing applications, as
              well as additional support for regular call-center operations
            </li>
            <li>
              Leveraged expansive knowledge of best practices to train new
              employees and create training documents
            </li>
          </ul>
          <hr />

          <div class="experience-subheader app-bold-text">
            FEB 2014 - SEP 2014 <br />
            Internet Sales Consultant <br />
            Captiol Hyundai - Montgomery, AL
          </div>
          <ul role="list">
            <li>
              Created promotional events at various locations to generate new
              sales leads
            </li>
            <li>Automated tasks such as e-mail blasts for the company</li>
            <li>Communicated both remotely and in-person with clients</li>
          </ul>
          <hr />

          <div class="experience-subheader app-bold-text">
            AUG 2013 - FEB 2014 <br />
            Bartender <br />
            Aviator Bar - Montgomery, AL
          </div>
          <hr />

          <div class="experience-subheader app-bold-text">
            AUG 2012 - MAY 2013 <br />
            Writing Intern <br />
            Auburn University Montgomery - AL
          </div>
          <ul role="list">
            <li>
              Tutored undergraduate students taking APA writing-intensive
              classes as well as trained students in core educational skills
              such as time management
            </li>
            <li>
              Led APA style workshops and provided content for the department
              website
            </li>
            <li>
              Worked independently, scheduling appointments with students and
              professors as needed
            </li>
          </ul>
          <hr />

          <div class="experience-subheader app-bold-text">
            AUG 2008 - AUG 2013 <br />
            Bartender <br />
            Maxwell Club - Montgomery, AL
          </div>
          <hr />

          <div class="experience-subheader app-bold-text">
            JUL 2006 - APR 2008 <br />
            Bar Manager <br />
            Moody's Sports Bar - Montgomery, AL
          </div>
          <hr />

          <div class="experience-subheader app-bold-text">
            JUL 2002 - JUL 2006 <br />
            Psychological Operations Specialist <br />
            US Army - Fort Bragg, NC
          </div>
          <ul role="list">
            <li>
              Operated and evaluated a prototype remotely piloted aircraft
              system
            </li>
            <li>
              Conducted target audience analysis and synthesized gathered
              information into reports
            </li>
            <li>Designed, created, and disseminated print and radio media</li>
          </ul>
        </div>
      </section>
      <section class="section-container">
        <h2
          class="section-header"
          (click)="toggleShowHide(3)"
          [ngClass]="sectionIsOpen[3] === 'open' ? 'open' : 'closed'"
        >
          education
        </h2>
        <div class="section-text" [@showHide]="sectionIsOpen[3]">
          <div class="experience-subheader app-bold-text">
            JUL 2019 - NOV 2019 <br />
            Fullstack Programming <br />
            Byte Academy - Houston, TX
          </div>
          <hr />

          <div class="experience-subheader app-bold-text">
            JAN 2010 - MAY 2013 <br />
            BS In Psychology <br />
            Auburn University Montgomery, AL
          </div>
          <hr />

          <div class="experience-subheader app-bold-text">
            MAY 2003 - NOV 2003 <br />
            Korean Language <br />
            Special Warfare Center - Fort Bragg, NC
          </div>
        </div>
      </section>
    </div>

    <div class="long-version" *ngIf="!short">
      <p>
        The first time I wrote code was sometime in the late 90s when I
        customized my AOL 3.0 profile. After that, I took a break from coding
        for a while and finished high school, spent four years in the US Army,
        bartended, sold cars, tutored writing, got a degree in psychology, and
        worked as tech support for an insurance company.
      </p>
      <br />
      <p>
        In early 2019 I decided I wanted to learn Python and become a
        programmer. I struggled; however, I became obsessed with coding. I'd
        never understood what it was like to get such a sense of satisfaction
        from something I could be paid to do.
      </p>
      <br />
      <p>
        I quit my insurance job and started coding. Day after day and hour after
        hour, I beat my brain against the wall that is learning such a complex
        new skill. Fast-forward a few months and I enrolled in a coding
        bootcamp. With the help of an instructor and classmates, I started to
        see serious progress and began learning JavaScript along with Python.
      </p>
      <br />
      <p>
        Before the bootcamp ended in November 2019, I had a contract-to-hire
        position lined up with an oil and gas company in Houston, TX. They
        wanted me to work on refactoring a massive legacy application into a
        modern, responsive Angular application. I was ecstatic and terrified,
        I'd never touched Angular before that interview, which I explained in
        the interview, yet they still hired me.
      </p>
      <br />
      <p>
        After six months, the company offered me a full-time position and I've
        been here for about two years now. Sometimes I wonder where I'd be if I
        spent that 20 year break coding instead; nevertheless, I believe my
        experiences leading up to this point are what provides me with a deep
        appreciation for being able to do something I love and still pay rent.
      </p>
    </div>
  </div>
</div>
