.about-page {
  font-family: "Fira Mono", monospace;
  display: flex;
  flex-direction: column;
  gap: 5vh 0;

  .heading-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    app-contact-button {
      align-self: flex-end;
    }
  }

  .section-container {
    section {
      .section-header {
        margin: 3vh 0;
        transition: 400ms;
        display: flex;
        gap: 1vw;
        align-items: center;

        &.open {
          text-shadow: 0 0 5px var(--shadow-color);
        }
      }

      .experience-container {
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        gap: 24px;

        .experience-details {
          padding-bottom: 1vh;
          font-size: 14px;
          gap: 12px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
