<app-navigation></app-navigation>
<div class="app-page-container about-page">
  <div class="heading-container">
    <h1 class="app-heading">about</h1>
  </div>
  <div class="section-container">
    <section *ngFor="let section of sections; index as i">
      <h2
        class="section-header"
        (click)="toggleShowHide(i)"
        [ngClass]="sectionIsOpen[i]"
      >
        {{ section.header }}
        <div *ngIf="innerWidth && innerWidth < 1380" class="arrow-icon">
          <svg
            [@rotatedState]="rotatedState[i]"
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-arrow-narrow-right"
            width="22"
            height="22"
            viewBox="0 0 24 18"
            stroke-width="1.5"
            stroke="#ffffffee"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="5" y1="12" x2="19" y2="12" />
            <line x1="15" y1="16" x2="19" y2="12" />
            <line x1="15" y1="8" x2="19" y2="12" />
          </svg>
        </div>
      </h2>
      <div class="experience-container" [@showHide]="sectionIsOpen[i]">
        <div
          class="experience-details app-bold-text"
          *ngFor="let item of section.content; index as i"
        >
          <h3>{{ item.jobTitle }}</h3>
          <ng-container *ngIf="item.otherTitle">
            <li *ngFor="let other of item.otherTitle">{{ other }}</li>
          </ng-container>
          <div
            class="info-button-container"
            *ngIf="!!item.moreInfo && !!item.moreInfo.title"
          >
            <hr />
            <button (click)="toggleDetails(item.moreInfo)">More Info</button>
            <app-modal></app-modal>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
