.about-page {
  font-family: "Fira Mono", monospace;
  display: flex;
  flex-direction: column;
  gap: 5vh 0;

  .heading-buttons {
    display: flex;
    gap: 5vw;
    justify-content: center;

    .version-button {
      border-radius: 1em;
      align-self: center;
      position: relative;
      background-color: transparent;
      border: none;
      padding: 10px;
      width: 40vw;
      height: 10vh;
      font-size: 1.5em;
      text-align: center;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      color: var(--primary-text-color);

      &.selected {
        background: hsl(312, 26%, 56%);
        box-shadow: 0px 2px 10px 5px hsl(312, 26%, 56%);
      }
    }

    .version-button:hover {
      box-shadow: 0px 2px 10px 5px hsl(312, 26%, 56%);

      &:not(.selected) {
        cursor: pointer;
      }
    }

    .version-button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }
  }
  .short-version {
    .section-container {
      .section-header {
        margin: 3vh 0;
        transition: 900ms;
        display: flex;
        gap: 1vw;
        align-items: center;

        &.open {
          text-shadow: 0 0 5px hsl(312, 26%, 56%);
        }
        &:hover {
          text-shadow: 0 0 5px hsl(312, 26%, 56%);
          cursor: pointer;
        }
      }

      .experience-subheader {
        padding-bottom: 1vh;
      }

      hr {
        margin: 3vh 0;
      }
    }
  }
}

ul {
  list-style-position: inside;

  &.languages-and-frameworks li {
    list-style: none;
  }

  &:not(.languages-and-frameworks) li {
    list-style-image: url("../../../assets/list-rectangle-bullet.svg");
    padding-bottom: 1vh;
  }
}
