<app-navigation></app-navigation>
<div class="app-page-container home">
  <div class="home-page">
    <div class="name-container">
      <h1>
        jason <br /><span class="middle">walker<br /></span>
        <span class="last">moody</span>
      </h1>
    </div>
    <div class="supporting-copy">
      <p>
        a mostly front-end developer; a problem solver with an eclectic
        background & skillset, a passion for education, and maybe a bit of
        impostor syndrome
      </p>
    </div>
  </div>
</div>
