@import "src/styles.scss";

.app-page-container.home {
  @include respond-to("x-large") {
    display: flex;
    align-items: center;
  }

  .home-page {
    display: flex;
    flex-direction: column;

    @include respond-to("medium") {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond-to("x-large") {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond-to("xx-large") {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .name-container {
      font-size: 1.5em;
      font-family: "Fira Mono", monospace;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;

      @include respond-to("small") {
        font-size: 2em;
      }

      @include respond-to("medium") {
        font-size: 2.5em;
      }

      @include respond-to("large") {
        font-size: 3em;
      }

      @include respond-to("x-large") {
        font-size: 4em;
      }

      @include respond-to("xx-large") {
        font-size: 4.5em;
      }

      .middle {
        margin-left: 1em;
      }

      .last {
        margin-left: 2em;
      }
    }

    .supporting-copy {
      margin: 10vh 1vw;

      @include respond-to("medium") {
        font-size: 1.3em;
        text-align: center;
        order: 3;
        width: 100%;
      }

      @include respond-to("x-large") {
        font-size: 1.3em;
        text-align: center;
        order: 3;
        width: 100%;
      }
    }

    .contact-button {
      align-self: flex-end;
      margin-right: 1vw;

      @include respond-to("medium") {
        font-size: 1.3em;
        text-align: center;
        order: 2;
        align-self: center;
        margin-left: 10em;
      }

      @include respond-to("large") {
        font-size: 1.5em;
      }

      @include respond-to("x-large") {
        font-size: 1.8em;
      }

      @include respond-to("xx-large") {
        font-size: 2.3em;
      }
    }
  }
}
