@import "src/styles.scss";

.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;

  &.circle-slider {
    transform: scale(1);

    .modal-background {
      background: rgba(0, 0, 0, 0);
      animation: fadeIn 400ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

      .modal {
        height: 75px;
        width: 75px;
        border-radius: 75px;
        overflow: hidden;
        animation: slidingCircle 1000ms cubic-bezier(0.165, 0.84, 0.44, 1)
          forwards;

        h1,
        ul {
          opacity: 0;
          position: relative;
          animation: modalContentFadeIn 400ms 1000ms linear forwards;
          color: var(--primary-text-color);
        }
      }
    }

    &.out {
      animation: fadeOut 400ms 500ms linear forwards;

      .modal-background {
        animation: fadeBackground 800ms cubic-bezier(0.165, 0.84, 0.44, 1)
          forwards;

        .modal {
          border-radius: 3px;
          height: 162px;
          width: 227px;
          animation: removeModal 400ms cubic-bezier(0.165, 0.84, 0.44, 1)
            forwards;

          h1,
          ul {
            animation: modalContentFadeOut 400ms 500ms
              cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          }
        }
      }
    }
  }
  .modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1em;
      box-shadow: 0px 2px 10px 5px var(--shadow-color);

      h1 {
        font-size: 1em;
        line-height: 2em;
      }

      ul {
        font-size: 1.2em;
        list-style-position: inside;
        padding: 1em;
        font-family: "Roboto Mono", monospace;

        li {
          margin: 1em 0;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }

  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99.9% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes fadeBackground {
  0% {
    background-color: rgba(black, 0.6);
  }

  100% {
    background-color: rgba(#333, 0.8);
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 0;
    top: -20px;
  }
}

@keyframes slidingCircle {
  0% {
    transform: translateX(1000px);
  }

  80% {
    transform: translateX(0px);
    border-radius: 30vh;
    height: 30vh;
    width: 30vh;
  }

  100% {
    border-radius: 1em;
    height: 75vh;
    width: 75vw;
    background: var(--primary-background-color);
    background: radial-gradient(
      circle,
      hsla(0, 0%, 14%, 1) 42%,
      hsla(0, 0%, 27%, 1) 125%
    );
    background: -moz-radial-gradient(
      circle,
      hsla(0, 0%, 14%, 1) 42%,
      hsla(0, 0%, 27%, 1) 125%
    );
    background: -webkit-radial-gradient(
      circle,
      hsla(0, 0%, 14%, 1) 42%,
      hsla(0, 0%, 27%, 1) 125%
    );
  }
}

@keyframes removeModal {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}
