.projects-page {
  font-family: "Fira Mono", monospace;
  display: flex;
  flex-direction: column;

  .heading-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 11vh 0;
    gap: 24px;

    app-contact-button {
      align-self: flex-end;
    }
  }

  .card-container {
    margin: 0 0 11vh 0;
  }
}
