@import "src/styles.scss";

.projects-page {
  font-family: "Fira Mono", monospace;
  display: flex;
  flex-direction: column;

  .heading-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include respond-to("small") {
      flex-direction: row;
      align-items: center;
    }

    @include respond-to("medium") {
      flex-direction: row;
      margin: 0 0 5vh 0;
      align-items: center;
    }

    @include respond-to("xx-large") {
      margin: 0 0 10vh 0;
    }
  }

  .project-cards {
    @include respond-to("medium") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 48px;
    }

    @include respond-to("xx-large") {
      grid-template-columns: repeat(4, 1fr);
    }

    .card-container {
      margin: 13vh 0;

      @include respond-to("large") {
        margin: 15vh 0;
      }
    }
  }
}
