<mat-toolbar color="primary">
  <header class="nav-header">
    <div class="icon-title-container">
      <label>JWM</label>
    </div>
    <mat-nav-list class="nav-list-items">
      <a class="navbar-link" routerLink="/home"> home </a>
      <a class="navbar-link" routerLink="/projects"> projects </a>
      <a class="navbar-link" routerLink="/about"> about </a>
    </mat-nav-list>
  </header>
</mat-toolbar>

<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
