.app-container {
  height: 100vh;

  .app-toolbar {
    height: 5vh;
  }
}

.large-screen-container {
  .nav-header {
    display: flex;
    align-items: center;
    gap: 8px;

    .nav-list-items {
      display: flex;
      gap: 8px;
    }
  }
}

.small-screen-container {
}
