<div class="navigation-container">
  <a class="navigation-link" routerLink="/home">home</a>
  <hr class="horizontal-line" />
  <a class="navigation-link" routerLink="/about">about</a>
  <hr class="horizontal-line" />
  <a class="navigation-link" routerLink="/projects">projects</a>
  <footer class="footer-navigation">
    <a
      class="navigation-link"
      href="https://www.linkedin.com/in/jasonwmoody/"
      target="_blank"
      >in</a
    >
    <a class="navigation-link" href="https://github.com/MoodyJW" target="_blank"
      >git</a
    >
  </footer>
</div>
